@import '../constants.styl'

.teamUserWrap
  margin-right: -7px
  &.lastTeamUser
    margin-right: 5px
    
.userToAddWrap
  height: 32px
  margin-right: 5px
  img
    opacity: 0.5
    
.addUserWrap
  :global .success
    background-color: success-background
    
.whitelistedDomainContainer
  margin: 5px 5px 0
  
.container
  margin: 0
  padding: 0
  list-style-type: none
  display: flex
  flex-flow: row wrap
  align-items: center
